importFrom(rlang, ns_registry_env)
import(methods)
importFrom(R6, R6Class)
importFrom(data.table,":=")
importFrom(data.table,as.data.table)
importFrom(data.table,data.table)
export(new_temperature)
export(describe_s3)
S3method(print, temperature)
S3method(format, temperature)
S3method(as.character, temperature)
S3method(describe_s3, temperature)
S3method(describe_s3, default)
